HYPERLIQUID_NETWORK=testnet
HYPERLIQUID_HTTP_TIMEOUT_SECONDS=10
HYPERLIQUID_HEARTBEAT_INTERVAL_SECONDS=30
HYPERLIQUID_RECONNECT_INITIAL_SECONDS=1
HYPERLIQUID_RECONNECT_MAX_SECONDS=30
HYPERLIQUID_MAX_HTTP_CONCURRENCY=2
RUN_HYPERLIQUID_LIVE_TESTS=0
